﻿
@{
    ViewBag.Title = "New";
}

<h2>New Traveller :)</h2>
<form action="/Traveller/Create" method="post">
    <div class="form-group">
        <label>Name:</label>
        <input type="text" name="travellerName" class="form-control" />
    </div>
    <div class="form-group">
        <label>Bio:</label>
        <textarea  name="travellerBio" class="form-control"></textarea>
    </div>
    <div>
        <input type="submit" name="submitBtn" class="btn btn-default" />
    </div>
   
</form>

